<footer class="site-footer ng-scope">
	<div class="container">
		<div class="row widgets">
			<div class="col-xs-6 col-md-6 col-sm-6">
				<h4>Info</h4>
				<ul class="list-unstyled">
					<!-- <li><a href="">FAQ</a></li> -->
					<li><a ui-sref="terms">Terms of Use</a></li>
					<li><a ui-sref="privacy">Privacy</a></li>
				</ul>
			</div>
			<!-- <div class="col-xs-6 col-md-3 col-sm-6"> -->
				<!-- <h4>Company</h4> -->
				<!-- <ul class="list-unstyled"> -->
					<!-- <li><a ui-sref="work">Our Work</a></li> -->
					<!-- <li><a ui-sref="team">Our Team</a></li> -->
					<!-- <li><a href="">How it works</a></li>
					<li><a ng-click="" ng-show="" href="">Join the Hacker Firm</a></li> -->
					<!-- <li><a href="">Careers</a></li> -->
				<!-- </ul> -->
			<!-- </div> -->
			
			<!-- <div class="clearfix visible-xs-block"></div> -->
			<div class="col-xs-6 col-md-3 col-sm-6">
				<h4>Contact</h4>
				<ul class="list-unstyled">
					<li class="shy"><a href="mailto:hello@hackerfirm.com">hello@hackerfirm.com</a></li>
					<li><a href="tel:0423478156">0423478156</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-md-3 col-sm-6">
				<h4>Address</h4>
				<address>
					<ul class="list-unstyled">
						<!-- <li>The Hacker Firm</li> -->
						<li>212 Bondi Road</li>
						<li>Sydney, NSW 2026</li>
					</ul>
				</address>
			</div>
		</div>
		<div class="row copy">
			<div class="col-xs-6 col-sm-4">
				<img src="assets/images/logo.svg" width="32px" height="32px" alt="Hacker Firm">
			</div>
			<div class="col-sm-4 copyright text-center">
				<h5>2016 Hacker Firm</h5>
			</div>
			<!-- <div class="col-sm-4 social text-right">
				<ul class="list-inline">
					<li><a href="" target="_blank" class="btn btn-primary btn-sm"><i class="gf-facebook"></i></a></li>
					<li><a href="" target="_blank" class="btn btn-primary btn-sm"><i class="gf-twitter"></i></a></li>
					<li><a href="" target="_blank" class="btn btn-primary btn-sm"><i class="gf-gplus"></i></a></li>
				</ul>
			</div> -->
		</div>
	</div>
</footer>