<footer class="site-footer ng-scope">
	<div class="container">
		<div class="row widgets">
			<div class="col-xs-6 col-md-3 col-sm-6">
				<h4>Company</h4>
				<ul class="list-unstyled">
					<li><a href="">Who we are</a></li>
					<!-- <li><a href="">Success stories</a></li> -->
					<li><a href="">How it works</a></li>
					<!-- <li><a ng-click="" ng-show="" href="">Join Hack Logica</a></li>
					<li><a href="">Careers</a></li> -->
				</ul>
			</div>
			<div class="col-xs-6 col-md-3 col-sm-6">
				<h4>Info</h4>
				<ul class="list-unstyled">
					<li><a href="">FAQ</a></li>
					<li><a href="">Terms of Use</a></li>
					<li><a href="">Privacy</a></li>
				</ul>
			</div>
			<!-- <div class="clearfix visible-xs-block"></div> -->
			<div class="col-xs-6 col-md-3 col-sm-6">
				<h4>Contact</h4>
				<ul class="list-unstyled">
					<!-- <li class="shy"><a href="mailto:contact@marcolavielle.com">contact@marcolavielle.com</a></li> -->
					<li><a href="tel:0423478156">0423478156</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-md-3 col-sm-6">
				<h4>Address</h4>
				<address>
					<ul class="list-unstyled">
						<li>Hack Logica</li>
						<li>509/212 Bondi Road</li>
						<li>Sydney, NSW 2026</li>
					</ul>
				</address>
			</div>
		</div>
		<div class="row copy">
			<div class="col-xs-6 col-sm-4">
				<img src="" title="Hack Logica"></div>
			<div class="col-sm-4 copyright text-center">
				<h5>2015 Hack Logica</h5>
			</div>
			<!-- <div class="col-sm-4 social text-right">
				<ul class="list-inline">
					<li><a href="" target="_blank" class="btn btn-primary btn-sm"><i class="gf-facebook"></i></a></li>
					<li><a href="" target="_blank" class="btn btn-primary btn-sm"><i class="gf-twitter"></i></a></li>
					<li><a href="" target="_blank" class="btn btn-primary btn-sm"><i class="gf-gplus"></i></a></li>
				</ul>
			</div> -->
		</div>
	</div>
</footer>