.thing-form {
  margin: 20px 0;
}
#banner {
    border-bottom: none;
    margin-top: -20px;
}
#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
.navbar-text {
    margin-left: 15px;
}
.container.overflow {
    overflow: visible;
}
.hero {
    padding-top: 50px;
}
.hero h1 {
    margin-top: .75em;
    color: #282828;
}
.hero p {
    font-size: 20px;
    margin: 1.5em 0 2em;
}
.hero .btn.btn-lg {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .125em;
    text-transform: uppercase;
    padding: 30px 20px;
}
.hero .btn.btn-primary {
    color: #fff;
    border-color: #1f7edd;
    background: #1f7edd!important;
}
.carousel-indicators {
    bottom: -35px;
}
.carousel-indicators li.active {
    margin: 0 5px;
    width: 18px;
    height: 18px;
    border: 2px solid #1f7edd;
    background: #1f7edd;
}
.carousel-indicators li {
    width: 18px;
    height: 18px;
    border: 2px solid #c6c6c6;
    display: inline-block;
    margin: 0 5px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000\9;
    background-color: transparent;
}
.right.carousel-control, .left.carousel-control {
    display: none;
}
.arrow {
    margin: 25px 0 35px;
    font-size: 60px;
    text-align: center;
}
.zigzag .read-more {
    margin-left: 5px;
}
.bounce {
    -webkit-animation: bounce 2s infinite ease-in-out;
}
@-webkit-keyframes bounce {
    0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
    80% { -webkit-transform: translateY(-10px); }
}