<div id="particles-js" class="particleJs"></div>

<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container overflow index-hero gray">
  <div class="row hero">
    <div class="col-md-8 col-md-push-2">
      <h1>Get a price quote for your app <br/>in <span class="blue">minutes</span>.</h1>
      <p>Hire our elite design and development team in <span class="blue">minutes</span>.<br/>The <span class="blue">Hacker Firm</span> is your connection to the top designers and<br/>top <span class="blue">5%</span> software developers.</p>
      <a href="javascript:" ng-click="projectStart()" class="btn btn-primary btn-lg cta">Start a project</a>
    </div>
    <!-- <div class="col-md-4 hidden-sm hidden-xs">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}">
        </slide>
      </carousel>
    </div> -->
  </div>
  <div class="row arrow">
    <a href="#intro">
      <i class="fa fa-angle-down bounce"></i>
    </a>
  </div>
</div>
<div id="intro" class="gray zigzag padding-lg index">
  <div class="container">
    <div class="row padding-md">
      <div class="col-md-6">
        <h5 class="underline">who we are</h5>
        <h2>We tackle hard problems</h2>
        <p>We develop complex software.<br/>We are focused on javascript web / mobile application development and Unity &reg; development for VR.<br/>We have worked with some of the best brands.</p>
        <!-- <a href="who-we-are.html">Read More<i class="gf-angle-right read-more"></i></a> -->
      </div>
      <div class="col-md-6 text-right pad">
        <img src="assets/images/companies.svg" width="70%" alt="We have worked with some of the best brands">
      </div>
    </div>
  </div>
</div>
<!-- <div class="container white work-carousel-container">
  <div class="row padding-xs">
    <div class="col-md-6">
      <h5 class="underline">our work</h5>
      
    </div>
  </div>
  <div class="row padding-xs">
    <div class="col-md-6 col-md-push-6">
      <h2>Clear Ear</h2>
      <h5>Making ears happier</h5>
      <p class="padding-xs">Clear Ear started as a class project at the Stanford Biodesign Program. Two students discovered that the number one cause of impaired hearing is ear wax buildup and decided to design a product to fix the problem. After a Techcrunch feature &amp; crowdfunding campaign with $60,000 raised, the Oto-tip was born. We built the e-commerce front-end.</p>
      <div class="tech-info">
        <div class="row">
          <div class="col-sm-6">
            <strong>Number of Gigsters:</strong>
          </div>
          <div class="col-sm-6">
            <p>Three</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <strong>Timing:</strong>
          </div>
          <div class="col-sm-6">
            <p>One Month</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <strong>Capabilities:</strong>
          </div>
          <div class="col-sm-6">
            <p>HTML, CSS, WooCommerce, PHP</p>
          </div>
        </div>
      </div>
      <a href="http://www.clearearinc.com/" target="_blank">Visit Site<i class="gf-angle-right read-more"></i></a>
    </div>
    <div class="col-md-6 col-md-pull-6 padding-laptop">
      <div class="wrap laptop">
        <img src="assets/images/laptop-illustration.svg" width="500">
        <carousel id="clearear" interval="5000" data-ride="carousel" class="carousel slide">
          <div role="listbox" class="carousel-inner">
            <div class="item">
              <img src="media/sprites/web-screens/clearear-web1.jpg?v=1449540420964">
            </div>
            <div class="item active">
              <img src="media/sprites/web-screens/clearear-web2.jpg?v=1449540420964">
            </div>
            <div class="item">
              <img src="media/sprites/web-screens/clearear-web3.jpg?v=1449540420964">
            </div>
          </div>
          <ol class="carousel-indicators">
            <li data-target="#clearear" data-slide-to="0" class=""></li>
            <li data-target="#clearear" data-slide-to="1" class="active"></li>
            <li data-target="#clearear" data-slide-to="2" class=""></li>
          </ol>
        </carousel>
      </div>
    </div>
  </div>  
</div> -->
    <!-- <div class="row padding-xs">
    <div class="col-md-12">
      <carousel>
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}">
        </slide>
      </carousel>
    </div>
  </div> -->
    <!-- <div class="row padding-md">
      <div class="col-md-6 col-md-push-6">
        <h5 class="underline">success stories</h5>
        <h2>Learn about the Hacker Firm from our customers</h2>
        <p>We couldn't be prouder of the work we've done and, luckily, our customers feel the same way. Hear what they have to say.</p>
        <a href="success-stories.html">Read More<i class="gf-angle-right read-more"></i></a>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="card testimonial">
          <img src="" alt="">
          <p>Testimonial!</p>
          <footer>Marquito<span class="position">CEO</span>
            <img src="" width="80">
          </footer>
        </div>
      </div>
    </div> -->
<div id="separator" class="separator-image">
  <img src="assets/images/separator.jpg" alt="Work">
</div>    
<div id="intro" class="gray zigzag padding-lg index">
  <div class="container">
    <div class="row padding-md">
      <div class="col-md-6">
        <h5 class="underline">how it works</h5>
        <h2>From your idea to a finished product</h2>
        <p>Submit your project and get a quote within <span class="blue">30 minutes</span>.<br/>We can start work immediately and you'll have weekly check-ins with your Product Engineer until we're done.</p>
        <!-- <a href="">Read More<i class="fa fa-angle-right read-more"></i></a> -->
      </div>
      <div class="col-md-6">
        <div class="w80 pull-right from-idea-to-product">
          <img src="assets/images/devices.svg" alt="Devices">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-cta">
  <div class="container">
    <h2>Start Now!</h2>
    <a href="javascript:" ng-click="projectStart()" class="btn btn-primary btn-lg">Start a project</a>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
