<div ng-include="'components/navbar/navbar.html'"></div>

<section class="gray padding-xs">
	<div class="container overflow">
		<div class="padding-xs">
			<div class="row">
				<div class="side-col col-xs-12 col-md-6 col-md-push-6">
					<div class="side-box-container">
						<div class="project-details">
							<h1 class="title">{{project.name}}</h1>
							<h2 class="small">Every Hack Logica project comes with our 100% guarantee &nbsp;</h2>
							<div class="card border-top">
								<div class="clearfix">
									<h3 class="pull-left">OVERVIEW</h3>
								</div>
								<h4>Gathering Requirements</h4>
								<p class="info">Budget: &nbsp;<span class="highlight ng-binding">{{project.budget}}</span><br>Timeline: &nbsp;<span class="highlight ng-binding">{{project.startTime}}</span><br>Platforms: &nbsp;<span class="highlight ng-binding">{{project.platforms}}</span></p>
								<div class="project-manager"><img src="assets/images/marco-lavielle.jpg">
									<p><strong>Project Engineer: &nbsp;</strong>Marco L.</p>
								</div>
								<footer class="text-center">
									<p>Questions? Checkout our &nbsp;<a class="black-underline"><strong>FAQ</strong></a>&nbsp; or the &nbsp;<a href="" class="black-underline"><strong>Hack Logica Overview</strong></a>
									</p>
								</footer>
							</div>
							<!-- <div class="documents">
								<div class="card border-top">
									<h3>DOCUMENTS</h3>
									<ul class="system">
										<li><a href=""><span>NDA</span></a></li>
									</ul>
									<h3 class="ng-hide">Attachments</h3>
									<table class="table">
										<tbody></tbody>
									</table>
									<a class="btn btn-primary fat-mini">+ Add file</a>
								</div>
							</div> -->
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-md-pull-6 chat-parent">
					<div class="card chat-container">
						<div class="tabs">
							<div class="tab disabled">
								<span class="">Message</span>
							</div>
							<!-- <div class="tab">
								<span>Team</span>
							</div> -->
						</div>
						<div class="chat-box loadable">
							<div class="contents">
								<div class="messages">
									<div class="message to-me">
										<div>
											<div class="user">
												<img ng-src="assets/images/marco-lavielle.jpg" class="avatar" src="assets/images/marco-lavielle.jpg">
											</div>
											<div class="text-box">
												<div class="meta">
													<span>
														<div class="sender-name">
															<span>Marco</span>
														</div>
													</span>
												</div>
												<div class="text">
													<div class="row">
														<div class="col-sm-12">
															<span>
																<span>
																	<span>
																		Hi {{userName}}! If you have any additional information or any questions please write them below. We will get in touch with you soon.
																	</span>
																</span>
															</span>
														</div>
													</div>
													<div class="timestamp">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="message" ng-repeat="message in messages">
										<div>
											<div class="user">
												<img ng-src="assets/images/av1.png" class="avatar" src="assets/images/av1.png">
											</div>
											<div class="text-box" >
												<div class="meta">
													<span>
														<div class="sender-name">
															<span>{{userName}}</span>
														</div>
													</span>
												</div>
												<div class="text">
													<div class="row">
														<div class="col-sm-12">
															<span>
																{{message.name}}
															</span>
														</div>
													</div>
													<div class="timestamp">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<form ng-submit="addMessage()">
									<input type="text" ng-model="newMessage" placeholder="Send a new message to your Engineer" class="form-control input-lg msd-elastic"/>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div ng-include="'components/footer/footer.html'"></div>